/**

  |============================
  | include css partials with
  | default @import url()
  |============================
*/

/* Common styles */
@import url('./reset.css');
@import url('./base.css');
@import url('./container.css');
@import url('./animations.css');

/* Sections style */
@import url('./header.css');
@import url('./vite-promo.css');
@import url('./badges.css');
@import url('./back-link.css');
@import url('./footer.css');



.gallery {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    justify-content: center;
    gap: 24px;

    margin-top: 24px;
}

.gallery-item {
    width: 360px;
    height: 200px;
    overflow: hidden;
}

.gallery-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block; 
}

.feedback-form{
  display: flex;
  flex-direction: column;
  margin: 24px;
  gap: 8px;

}

.feedback-form label {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: start;
  font-family: 'Montserrat', sans-serif;
}

input {
    width: 100%;
    padding: 8px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background: transparent;
    outline: none;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    color:  #2e2f42;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    line-height: 1.5;
}

textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background: transparent;
    outline: none;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    color:  #2e2f42;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    line-height: 1.5;
}

button {
    align-self: flex-start;
    margin-top: 8px;
    border-radius: 8px;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    font-weight: 500;
    padding: 8px 16px;
    border: none;
    background-color: #4E75FF;
    color: #FFFFFF;
}
